lucene-2.4.1-src.tar.gz
/lucene-2.9.4-src.tar.gz
/lucene-3.6.0-src.tgz
dev-tools.tar.xz
/lucene-3.6.2-src.tgz
/noarch
/lucene-4.6.0-src.tgz
/lucene-4.6.1-src.tgz
/lucene-4.7.0-src.tgz
/dev-tools-4.7.0.tar.xz
/dev-tools-4.7.1.tar.xz
/lucene-4.7.1-src.tgz
/lucene-4.7.2-src.tgz
/dev-tools-4.7.2.tar.xz
/dev-tools-4.8.0.tar.xz
/lucene-4.8.0-src.tgz
/lucene-4.*/
/*.src.rpm
/.build-*.log
/.project
/dev-tools-4.8.1.tar.xz
/lucene-4.8.1-src.tgz
/dev-tools-4.10.1.tar.xz
/lucene-4.10.1-src.tgz
